* {
    margin: 0;
    padding: 0;
    border: 0;
    color: rgb(35 38 41);
    text-decoration: none; /* a태그 , Link태그의 밑줄 없애기 */
    font-family: 'LiberationSans';
}

body {
    padding-top: 55px; /* 탑 바(헤더)와 안겹치게 해줌 */
    min-width: auto;
}

code {
    display: inline-block;
    background-color: rgb(224, 233, 240);
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: courier, monospace;
    padding: 0 3px;
    line-height: 20px;
    padding: 10px;
}

input:focus {
    outline: 1px solid #6BBBF7;
    box-shadow: 1px 1px 30px rgb(193,213,227), -1px -1px 30px rgb(193,213,227);
}

.OrangeText {
    color: #f48225;
}

.BlueText {
    color: rgb(1 84 147);
}
.GreenText {
    color: rgb(86 122 13);
}
.RedText {
    color: red;
}
.PurpleText {
    color: purple;
}

:root {
    /* 어디서나 읽을 수 있도록 함 */
    --theme-Orange: #f48225;
    --theme-searchBar-border: rgb(186 191 196);
    --theme-link-text: rgb(0 116 204);
    --theme-link-text2: rgb(159, 207, 243);
    --theme-border: rgb(193, 195, 197);
    --theme-button-hover-color: rgb(0 99 191);
    --theme-button-hover-background-color: rgb(213, 229, 241);
}

@font-face {
    font-family: 'LiberationSans';
    font-display: fallback;
    src: url('./static/fonts/LiberationSans-Regular.ttf') format('truetype'), url('./static/fonts/LiberationSans-Regular.woff') format('woff'),
        url('./static/fonts/LiberationSans-Regular.eot?iefix') format('embedded-opentype');
    font-weight: 100;
    font-style: normal;

    /* Font Weight
    100 Thin
    200 Extra Light
    300 Light
    400 Normal
    500 Medium
    600 Semi Bold
    700 Bold
    800 Extra Bold
    900 Ultra Bold */
}
